.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    max-width: var(--body);
    margin: 0 auto;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer a {
    text-decoration: none;
}

.logo {
    width: 150px;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: var(--lMargin);
    margin: 0;
    padding: 0;
}

.navLinks a {
    text-decoration: none;
    color: var(--noir);
}

.menuMobile {
    display: none;
}

.popIn {
    display: none;
}

@media (max-width: 950px) {
    .navbar {
        font-size: 16px;
    }

    .logo {
        width: 110px;
    }

    .navLinks {
        gap: var(--mMargin);
    }
}

@media (max-width: 750px) {
    .navLinks {
        display: none;
    }

    .button {
        display: none;
    }

    .logo {
        width: 100px;
        position: relative;
    }

    .menuMobile {
        display: block;
        position: absolute;
        right: var(--mMargin);
        top: var(--mMargin);
        z-index: 2;
    }

    .popIn {
        display: block;
        width: calc(100% - 2 * var(--mMargin));
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #ffffffcc;
        padding: var(--mMargin);
    }

    .navbarMobile {
        background-color: var(--bleu);
        box-shadow: var(--ombre);
        border-radius: var(--mRadius);
        width: 170px;
        padding: var(--mMargin);
        position: absolute;
        top: 70px;
        right: var(--mMargin);
    }

    .navbarMobile > * {
        display: block;
        text-align: right;
        line-height: 2.5em;
        color: black;
        text-decoration: none;
    }
}
