.bandeau {
    width: 100%;
    height: 80px;
    background-color: var(--bleu);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte {
    margin-right: var(--xlMargin);
    margin-left: -50px;
    font-size: 22px;
}
