.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--bodyTight);
    margin: calc(2 * var(--xlMargin)) auto;
}

.colonneTexte {
    flex: 2;
    margin-right: var(--xlMargin);
}

.colonneTexte > h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0;
}

.colonneTexte > p {
    line-height: 1.5em;
}

.puces {
    margin-bottom: var(--lMargin);
    line-height: 2em;
}

.catContact {
    display: flex;
    align-items: center;
    margin-top: var(--mMargin);
}

.iconContainer {
    width: 55px;
    height: 55px;
    background-color: var(--bleu);
    border-radius: var(--sRadius);
    margin-right: var(--mMargin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textesContact {
    flex: 1;
}

.titreContact {
    font-weight: bold;
    margin-bottom: var(--sMargin);
}

.carte {
    flex: 3;
    margin-left: var(--xlMargin);
    height: 600px;
}

@media (max-width: 950px) {
    .colonneTexte {
        flex: 2;
        margin-right: var(--mMargin);
        font-size: 16px;
    }

    .colonneTexte > h2 {
        font-size: 28px;
    }

    .carte {
        flex: 2;
        margin-left: var(--mMargin);
        height: 500px;
    }

    .iconContainer {
        width: 45px;
        height: 45px;
    }

    .iconContainer > * {
        width: 20px;
        height: 20px;
    }

    .titreContact {
        margin-bottom: var(--xsMargin);
    }
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        width: calc(100% - 2 * var(--lMargin));
        margin: var(--xlMargin) var(--lMargin);
    }

    .carte {
        flex: none;
        margin-left: 0;
        margin-top: var(--lMargin);
        height: 250px;
    }
}
