.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--bodyTight);
    margin: calc(2 * var(--xlMargin)) auto;
}

.colonneTexte {
    flex: 2;
    margin-right: var(--xlMargin);
}

.colonneTexte > h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
}

.colonneTexte > p {
    line-height: 1.5em;
}

.colonnePhotos {
    flex: 3;
    margin-left: var(--xlMargin);
}

.ligne {
    width: 100%;
    display: flex;
}

.photo {
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.ligne:nth-child(1) > .photo:nth-child(1) {
    border-top-left-radius: var(--lRadius);
    width: calc(66.5% - var(--mMargin) / 2);
    margin-right: var(--mMargin);
}

.ligne:nth-child(1) > .photo:nth-child(2) {
    width: calc(33.5% - var(--mMargin) / 2);
}

.ligne:nth-child(2) > .photo {
    margin: var(--mMargin) 0;
    width: 100%;
}

.ligne:nth-child(3) > .photo:nth-child(1) {
    width: calc(33.5% - var(--mMargin) / 2);
    margin-right: var(--mMargin);
}

.ligne:nth-child(3) > .photo:nth-child(2) {
    width: calc(66.5% - var(--mMargin) / 2);
    border-bottom-right-radius: var(--lRadius);
}

@media (max-width: 950px) {
    .colonneTexte {
        margin-right: var(--mMargin);
        font-size: 16px;
    }

    .colonnePhotos {
        flex: 2.5;
        margin-left: var(--mMargin);
    }

    .photo {
        height: 200px;
    }

    .colonneTexte > h2 {
        font-size: 28px;
    }
}

@media (max-width: 750px) {
    .presentation {
        flex-direction: column;
        text-align: center;
        margin: var(--lMargin);
        width: calc(100% - 2 * var(--lMargin));
    }

    .colonneTexte {
        margin-bottom: var(--lMargin);
        max-width: 500px;
        font-size: 14px;
        flex: none;
        margin-right: 0;
    }

    .colonnePhotos {
        flex: none;
        width: calc(100% - var(--mMargin));
        margin-left: 0;
    }
}
