.bandeau {
    width: calc(100% - 2 * var(--lMargin));
    background-color: var(--bleu);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--lMargin);
}

.bodyBandeau {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: var(--body);
}

.metrique {
    text-align: center;
}

.indicateur {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
}

.label {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5em;
}

@media (max-width: 750px) {
    .indicateur {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .bandeau {
        width: calc(100% - 2 * var(--mMargin));
        padding: var(--lMargin) var(--mMargin);
    }
    .indicateur {
        font-size: 20px;
    }

    .label {
        text-align: center;
        font-size: 13px;
    }

    .metrique {
        margin: 0 var(--sMargin);
    }
}
