.exemplesChantiers {
    width: var(--bodyTight);
    margin: calc(2 * var(--xlMargin)) auto;
}

.exemplesChantiers > h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
}

.containerChantiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 750px) {
    .exemplesChantiers {
        width: 100%;
        margin: var(--xlMargin) auto;
    }

    .exemplesChantiers > h2 {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    .containerChantiers > *:nth-child(n + 5) {
        display: none;
    }
}
