.hero {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-position: top;
    background-color: var(--bleu);
    border-bottom: solid 1px grey;
}

.overlay {
    width: var(--body);
    margin: auto;
}

.overlay h1 {
    font-size: 48px;
    position: absolute;
    top: 200px;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 5px;
    width: 550px;
    line-height: 1.5;
}

.overlay p {
    position: absolute;
    top: 200px;
    font-size: 20px;
    width: 850px;
    top: 380px;
    line-height: 2em;
}

.button {
    position: absolute;
    top: 550px;
}

@media (max-width: 1200px) {
    .overlay {
        width: 100%;
        margin: 0 var(--xlMargin);
    }

    .overlay p {
        width: 80%;
    }
}

@media (max-width: 750px) {
    .overlay h1 {
        font-size: 36px;
        width: 400px;
    }

    .overlay p {
        top: 330px;
    }
}

@media (max-width: 550px) {
    .overlay {
        margin: 0 var(--lMargin);
    }

    .overlay h1 {
        font-size: 28px;
        width: 80%;
        top: 300px;
    }

    .overlay p {
        top: 400px;
        font-size: 16px;
    }

    .button {
        top: 580px;
    }
}
